{% include 'layout/header.html' %}

{% block content %}


<form method="post">
    {% csrf_token %}
    <legend>Add New Category</legend>

    {% for field in form %}
    <fieldset>
        <div class="mb-3">
            <label class="form-label">{{ field.label_tag }}</label>
            <div>
                {{ field }}
                {{ field.errors }}
            </div>
        </div>
    </fieldset>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}