{% include 'layout/base.html' %}

{% block content %}
{% if auth %}
<div>
    <a href="create/" class="btn btn-sm btn-primary">Add New Image</a>
    <hr>
</div>
{% endif %}

<div class="row">
    {% for item in gallery_entities %}
    {% if item.file %}
    <div class="col-4 mx-auto">
        {% load static %}
        <img class="img-thumbnail" src="{% get_media_prefix %}{{ item.file }}" alt="">
        <p class="text-right"><small class="text-muted">{{ item.created_at|date:'d-m-Y H:i' }}</small></p>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
